/PrimerEjemplo/nbproject/private/
/PrimerEjemplo/build/
/PrimerEjemplo003/nbproject/private/
/PrimerEjemplo003/build/
/EjercicioGifCard003/nbproject/private/
/Coleccion03/nbproject/private/
/Coleccion03/build/
/Scootin003/nbproject/private/
/Scootin005/nbproject/private/
/Scootin003/build/
/Herencia003/nbproject/private/
/Herencia003/build/
